
.hero {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
}

.hero__title {
  @include font(900, 44px, 1.36, 0.06em);
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__btn {
  align-items: center;
  font-family: inherit;
  @include font(700, 16px, 1.87, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.87;
  // letter-spacing: 0.06em;
  color: var(--bottom-color);
  background-color: var(--footer-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: #188ce8;
}
}


